---
layout: page
title: 
header: 根据快速导航到相应的文章
group: navigation
---
{% include JB/setup %}
<!--手风琴特效 -->
  <script type="text/javascript" src="/js/jquery-1.5.2.min.js"></script>
  <script type="text/javascript" src="/js/scriptbreaker-multiple-accordion-1.js"></script>
  <script language="JavaScript">

  $(document).ready(function() {
    $(".topnav").accordion({
      accordion:false,
      speed: 500,
      closedSign: '[+]',
      openedSign: '[-]'
    });
  });

  </script>
  
<ul class="topnav">
  <li><a href="#" target="scriptbreaker">Home</a></li>
  <li><a href="#">iOS开发</a>
      <ul>
          <li><a href="#">Objective-C</a>
            <ul>
                    <li><a href="#">Objective-C学习</a></li>
                    <li><a href="#">Objective-C内存管理学习</a></li>
                    <li><a href="#">Objective-C弹出模态学习</a></li>
                    <li><a href="#">Objective-C-UI控件学习</a></li>
                    <li><a href="#">Objective-C动画学习</a></li>
                    <li><a href="#">GCD学习</a></li>     
                    <li><a href="#">UIGestureRecognizer学习</a></li>                                                             
            </ul>
          </li> 

           <li><a href="#">Swift</a></a>
              <ul>
                  <li><a href="#">Swift学习</a></li>
              </ul>
          </li>

           <li><a href="#">实战演练</a></li>

           <li><a href="#">iOS面试</a></li>

           <li><a href="#">源码资源</a></li>

           <li><a href="#">开发工具</a>
              <ul>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Xcode</a></li>
              </ul>
          </li>
      </ul>
  </li>
  <li><a href="#">Android开发</a>
      <ul>
          <li><a href="#">Android</a> </li>
  </ul>
</li> 

  <li><a href="#">iOS自动化测试</a>
      <ul>
           <li><a href="#">iOS自动化测试</a></li>
           <li><a href="#">iOS远程真机</a></li>
           <li><a href="#">自动化测试框架</a>
              <ul>
                  <li><a href="#">Macaca</a></li>
                  <li><a href="#">Appium</a></li>
              </ul>
           </li>
      </ul>
  </li>

  <li><a href="#">编程语言学习</a>
      <ul>
           <li><a href="#">Shell命令</a></li>
           <li><a href="#">Curl</a></li>
           <li><a href="#">C#开发</a>
           <li><a href="#">Java</a></li>
           <li><a href="#">JavaScript</a></li>
           <li><a href="#">Go</a>
           <li><a href="#">PHP</a>                        
           </li>
      </ul>
  </li>

  <li><a href="#">Web</a>
      <ul>
           <li><a href="#">Web开发</a></li>
           <li><a href="#">WebSocket</a></li>
           <li><a href="#">个人博客搭建</a></li>

           </li>
      </ul>
  </li> 

  <li><a href="#">开发工具集合</a>
      <ul>
           <li><a href="#">Github使用</a></li>
           <li><a href="#">Markdown使用</a></li>
           <li><a href="#">WPF</a></li>
           <li><a href="#">其他</a></li>

           </li>
      </ul>
  </li> 

  <li><a href="#">非技术文章</a>
      <ul>
           <li><a href="#">人生感悟</a></li>
           <li><a href="#">程序人生</a></li>
           <li><a href="#">其他</a></li>

           </li>
      </ul>
  </li>                                   
  <li><a href="#">人工智能</a>

</ul> 


<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
  TEST9
</ul>

<div class = "card">
{% for tag in site.tags %} 

  <h3 id="{{ tag[0] }}-ref">{{ tag[0] }}</h3>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>


{% endfor %}
</div>
