---
layout: page
title: 
header: 根据快速导航到相应的文章
group: navigation
---
{% include JB/setup %}


<div >
<ul class="topnav">
<!--   <li><a href="#-ref{{ tag[0] }}-ref" target="scriptbreaker">目录</a></li> -->
  <li><a href="#iOS开发-ref">iOS开发</a>
      <ul>
          <li><a href="#iOS-ref">iOS</a></li>

          <li><a href="#Objective-C-ref">Objective-C</a>
            <ul>
                    <li><a href="#Objective-C学习-ref">Objective-C学习</a></li>
                    <li><a href="#Objective-C内存管理学习-ref">Objective-C内存管理学习</a></li>
                    <li><a href="#Objective-C弹出模态学习-ref">Objective-C弹出模态学习</a></li>
                    <li><a href="#Objective-C-UI控件学习-ref">Objective-C-UI控件学习</a></li>
                    <li><a href="#Objective-C动画学习-ref">Objective-C动画学习</a></li>
                    <li><a href="#GCD学习-ref">GCD学习</a></li>     
                    <li><a href="#UIGestureRecognizer学习-ref">UIGestureRecognizer学习</a></li>                                                             
            </ul>
          </li> 

           <li><a href="#Swift-ref">Swift</a></a>
              <ul>
                  <li><a href="#Swift学习-ref">Swift学习</a></li>
              </ul>
          </li>

           <li><a href="#实战演练-ref">实战演练</a></li>

           <li><a href="#iOS面试-ref">iOS面试</a></li>

           <li><a href="#源码资源-ref">源码资源</a></li>

           <li><a href="#开发工具-ref">开发工具</a>
              <ul>
                  <li><a href="#Mac-ref">Mac</a></li>
                  <li><a href="#Xcode-ref">Xcode</a></li>
              </ul>
          </li>
      </ul>
  </li>
  <li><a href="#Android开发-ref">Android开发</a>
      <ul>
          <li><a href="#Android-ref">Android</a> </li>
  </ul>
</li> 

  <li><a href="#iOS自动化测试-ref">iOS自动化测试</a>
      <ul>
           <li><a href="#iOS自动化测试-ref">iOS自动化测试</a></li>
           <li><a href="#iOS远程真机-ref">iOS远程真机</a></li>
           <li><a href="#自动化测试框架-ref">自动化测试框架</a>
              <ul>
                  <li><a href="#Macaca-ref">Macaca</a></li>
                  <li><a href="#Appium-ref">Appium</a></li>
              </ul>
           </li>
      </ul>
  </li>

  <li><a href="#编程语言学习-ref">编程语言学习</a>
      <ul>
           <li><a href="#Shell命令-ref">Shell命令</a></li>
           <li><a href="#Curl-ref">Curl</a></li>
           <li><a href="#C#开发-ref">C#开发</a>
           <li><a href="#Java-ref">Java</a></li>
           <li><a href="#JavaScript-ref">JavaScript</a></li>
           <li><a href="#Go-ref">Go</a>
           <li><a href="#PHP-ref">PHP</a>
           <li><a href="#Python-ref">Python</a>                        
                        
           </li>
      </ul>
  </li>

  <li><a href="#Web-ref">Web</a>
      <ul>
           <li><a href="#Web开发-ref">Web开发</a></li>
           <li><a href="#WebSocket-ref">WebSocket</a></li>
           <li><a href="#个人博客搭建-ref">个人博客搭建</a></li>

           </li>
      </ul>
  </li> 

  <li><a href="#开发工具集合-ref">开发工具集合</a>
      <ul>
           <li><a href="#Github使用-ref">Github使用</a></li>
           <li><a href="#Markdown使用-ref">Markdown使用</a></li>
           <li><a href="#WPF-ref">WPF</a></li>
           <li><a href="#其他开发工具-ref">其他开发工具</a></li>

           </li>
      </ul>
  </li> 

  <li><a href="#非技术文章-ref">非技术文章</a>
      <ul>
           <li><a href="#人生感悟-ref">人生感悟</a></li>
           <li><a href="#程序人生-ref">程序人生</a></li>
           <li><a href="#其他文章-ref">其他文章</a></li>

           </li>
      </ul>
  </li>                                   
  <li><a href="#人工智能-ref">人工智能</a>
      <ul>
           <li><a href="#机器学习-ref">机器学习</a></li>
           <li><a href="#深度学习-ref">深度学习</a></li>
           <li><a href="#其他AI文章-ref">其他AI文章</a></li>
           </li>
      </ul>
  </li> 
    <li><a href="#其他技术-ref">其他技术</a>
  </li> 
</ul> 
</div>

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>

<div class = "card">
{% for tag in site.tags %} 

  <h3 id="{{ tag[0] }}-ref">{{ tag[0] }}</h3>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>


{% endfor %}
</div>



</script>
